* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #3c3a39;
  width: 100%;
  align-items: center;
  padding: 16px 24px;
  font-family: "Odibee Sans", cursive;
}

.headline {
  display: flex;
  background-image: url("./img/illustration.png");
  background-repeat: no-repeat;
  background-position: bottom -40px right 10px;
  flex-direction: column;
  align-items: center;
  background-color: #1c1a19;
  height: 100%;
  padding: 120px 24px;
  gap: 12px;
}

.primary-text {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 0;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  align-items: center;
  color: #fff5e1;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
}

.social-media {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  list-style-type: none;
}

.git {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

.linkedin {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

.angelist {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

.twitter {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

.vector {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

.works-section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 24px;
  width: 100%;
  justify-items: center;
}

.topic-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 24px;
  flex-wrap: wrap;
}

.topic {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.underline {
  align-self: flex-end;
}

.title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
  justify-content: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #091e42;
  align-items: center;
}

.title {
  font-family: "Crete Round", serif;
  font-weight: 400px;
  font-size: 32px;
  line-height: 44px;
}

.supporting-text2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 327px;
}

.supporting-text3 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 295px;
}

.tags {
  display: flex;
  list-style: none;
  gap: 12px;
  width: 235px;
  align-self: flex-start;
}

.tags > li {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.244);
  flex-direction: row;
  align-items: center;
  width: 95px;
  height: 40px;
}

.tag-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
}

.butt {
  align-self: flex-start;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 24px;
  padding: 12px;
  font-size: 17px;
  width: 124px;
  background-color: #ff6b00;
  color: #fff;
}

.butt1 {
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 24px;
  padding: 12px;
  font-size: 17px;
  width: 100%;
  background-color: #ff6b00;
  color: #fff;
}

.placeholder {
  padding-top: 24px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 327px;
  padding-top: 76px;
  gap: 14px;
  background-image: url("./img/card-bg1.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center top -10px;
}

.card-summary {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  gap: 12px;
  color: #fff;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-color: #1c1a19;
  background-image: url("./img/Frame.png");
  background-repeat: no-repeat;
  background-position: top 170px right;
}

.about-section .about-wrapper {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  gap: 24px;
  margin-bottom: 140px;
}

.about-section .about-wrapper .about-title {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-section .about-wrapper .supporting-text4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-section .about-wrapper .butt3 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  width: max-content;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  padding: 12px;
  color: #fff;
  background-color: #ff6b00;
}

.about-bottom {
  stroke-width: 2;
  width: 100%;
}

.dev-tools-container {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  gap: 24px;
}

.dev-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.dev-tool-title {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  align-items: center;
  font-size: 32px;
  padding: 8px 12px;
  gap: 12px;
  color: #fff;
}

.icon {
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
}

.lang-icon {
  transform: rotate(45deg);
}

.framework-icon {
  transform: rotate(90deg);
}

.skills-icon {
  border-radius: 50%;
}

.lang {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 8px;
}

.lang .skill {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 42.7px;
  padding: 12px 0;
  color: #fff;
}
